{% extends 'base.html' %}

{% block head %}
    

{% endblock %}


{% block body %}
<table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">Book</th>
        <th scope="col">User_Id</th>
        <th scope="col">Date</th>
      </tr>
    </thead>

    {% for book in books %}
    <tbody>
      <tr>
        <td>{{book[0]}}</td>
        <td>{{book[1]}}</td>
        <td>{{book[3]}}</td>
        <td><button class="btn btn-success"><a class="btn" href="return/{{book[2]}}">Return</a></button></td>
      </tr>
      
    </tbody>

        

    {% endfor %}
</table>
    

    
{% endblock %}